<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <!--
        Fragment 문법은 공통적으로 반복되는 코드 줄이기 위한 문법
        ex) header, footer 등등
    -->

<!--    headerFragment : 다른 곳에서 부를 때 사용할 이름-->
    <header th:fragment="headerFragment" class="header">
        <h1>Fragment Header</h1>
    </header>

</body>
</html>