<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/menu/delete" method="post">
        <label>삭제하실 메뉴의 코드를 입력해주세요: </label>
        <input type="number" name="deleteMenuCode">
        <input type="submit" value="삭제하기">
    </form>
</body>
</html>