<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Join 결과 테이블</h1>
    <table border="1">
        <tr>
            <th>메뉴 코드</th>
            <th>메뉴 이름</th>
            <th>가격</th>
            <th>카테고리</th>
            <th>주문가능여부</th>
            <th>카테고리 이름</th>
            <th>상위카테고리</th>
        </tr>
        <tr th:each="menu : ${joinList}" th:object="${menu}">
            <td th:text="*{code}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{price}"></td>
            <td th:text="*{categoryDTO.code}"></td>
            <td th:text="*{orderableStatus}"></td>
            <td th:text="*{categoryDTO.name}"></td>
<!--            <td th:text="*{categoryDTO.refCategoryCode}"></td>-->
            <td th:text="*{categoryDTO.refCategoryCode != null ? categoryDTO.refCategoryCode : '없음'}"></td>
        </tr>
    </table>

</body>
</html>