<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>검색 조회 결과!</h2>

    <table border="1">
        <tr>
            <th>코드</th>
            <th>이름</th>
            <th>가격</th>
            <th>카테고리 코드</th>
            <th>상태</th>
        </tr>
        <tr th:object="${searchMenu}">
            <td th:text="*{code}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{price}"></td>
            <td th:text="*{categoryCode}"></td>
            <td th:text="*{orderableStatus}"></td>
        </tr>
    </table>

</body>
</html>