<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>

    <h1>표현식</h1>

    <pre>
        표현식의 종류
        1. 변수 표현식 ${...}
        2. 선택 변수 표현식 *{}
        3. 메세지 표현식 #{}
        4. 링크 표현식 @{}
        5. 조각(Fragment) 표현식 ~{}
        6. 인라인 표현식 [[...]], [(...)]
    </pre>

    <h3>표현식 - 변수 표현식 ${...}</h3>
    <!-- url 의 뭐리 값은 param 에 저장되어 있다.
        setAttribute 를 이용하여 session 에 저장한 값은 session 이라는 이름에 담겨있다.
    -->
    <p th:text ="${param.title}"></p>
    <p th:text ="${param.no[0]}"></p>
    <p th:text ="${param.no[1]}"></p>

    <h3>표현식 - 메세지 표현식 #{...}</h3>

<!--  resource 하위의 message.properties 만 읽을 수 있다.  -->
    <p th:text ="#{value}"></p>

    <h3>표현식 - 링크 표현식 @{...}</h3>

    <a th:href="@{/}">메인으로</a>

    <h3>표현식 - 선택 변수 표현식 *{...}</h3>

    <p th:text="${member.name}"></p>
    <p th:object="${member}" th:text="*{age}"></p>

    <div th:object="${member}">
        <p th:text="*{address}"></p>
        <p th:text="*{name}"></p>
        <p th:text="*{gender}"></p>
    </div>

    <h3>th:block</h3>
    <th:block th:object="${member}">
        <p th:text="age"></p>
    </th:block>

<!-- Object 는 실제 공간 차지 ,  block 은 가상의 공간 차지 -->
    <hr>

    <h3> HTML 출력 : th:text, th:utext, th:value </h3>

    <pre>
        서버에서 넘기는 값을 html 태그에 표현할 때 th:text, th:utext 사용 가능
        th:text => html 태그를 단순 문자열 처리,
        th:utext => html 태그 태그 자체로 인식
        th:value => 태그의 value 값 지정 가능
    </pre>

    <ul>
        <li th:text="${hello}"></li>
        <li th:utext="${hello}"></li>
        <li><input type="text" th:value="타임리프"></li>
    </ul>

    <h3 th:inline="none">표현식 - 인라인 표현식 [[...]], [(...)]</h3>
    <p th:inline="none">
        변수 표현식의 값을 html 에 직접 사용하기 위해서 th:text 와
        동일한 기능인 [[...]] 을 사용할 수 있고, th:utext 와 동일한 기능인 [(...)]을
        사용할 수 있다.
        th:inline="none" 으로 작성하면 [[]], [()] 을 단순 문자열 취급 가능
    </p>

    <ul>
        <li>[[${hello}]]</li>
        <li>[(${hello})]</li>
<!--내부에 기능 끄기-->
        <li th:inline="none">[[${hello}]]</li>
        <li th:inline="none">[(${hello})]</li>
    </ul>

    <script>
        window.onload = function (){
            const hi = `[[${hello}]]`;
            alert(hi);
        }
    </script>

    <hr>
    <h3>리터럴 치환 || </h3>
    <p> '+' 기호 없이 문자열 합치기 -> || </p>

    <th:block th:object="${member}">
        <p th:text="|이름 = *{name}|"></p>
        <p th:text="|나이 = *{age}|"></p>
        <p th:text="|성별 = *{gender}|"></p>
        <p th:text="|주소 = *{address}|"></p>
    </th:block>
</body>
</html>